@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
    background: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
}

.wrap{
    width: 100%;
    height: auto;
    background-image: url("img/background_searchbar1.jpg");
    background-color: #ffea50;
    margin-bottom: 200px;
    padding-top: 160px;
    padding-bottom: 160px;
}

.search {
    width: 60%;
    margin: 0 auto;
    position: relative;

}

.searchMenu{
    display: inline-block;
    width: 20%;
    height: 30px;
    border: 3px solid #00B4CC;
}

.searchTerm {
    float: left;
    width: 57%;
    border: 3px solid #00B4CC;
    margin-right: 3px;
    padding: 5px;
    height: 30px;
    border-radius: 5px;
    outline: none;
    display: inline-block;

}

.searchButton {
    background-image: url("../img/search_white.png");
    position: absolute;
    margin-left: 3px;
    width: 40px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}